@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open sans', sans-serif;
}
body{
    background-color: #f3f3f3;
    min-width: 350px;
}
img{
    display: block;
    max-width: 100%;
}
/* Layout */
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
/* Title */
.col .title_wrapper{
    text-align: center;
    padding: 0rem 2rem 5rem;
}
.title_wrapper > .title{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.title_wrapper > .sub_title{
    font-size: 1rem;
    font-weight: normal;
}
/* Grid */
.container > .row {
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
@media screen and (min-width: 580px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Card */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.card > .image_profile{
    object-fit: cover;
    object-position: center;
}
.card > .info_profile{
    text-align: center;
    padding: 1rem 0;
}
.info_profile > .name_profile{
    font-size: 1rem;
}
.info_profile > .role_profile{
    font-size: 0.8rem;
}